.articles {
    margin: 0 auto 24px;
}

article {
    margin-top: 32px;
}

article:first-child {
    margin-top: 0;
}

section {
    margin-top: 16px;
}

.article-images {
    display: flex;
    flex-direction: column;

    padding: 48px;
}

.article-images > figure {
    margin: 0 auto;
    margin-bottom: 48px;
}

.article-images > figure:last-child {
    margin-bottom: 0;
}

.article-images > figure > figcaption {
    margin-top: 16px;
    text-align: center;
    color: rgb(134, 134, 134);
}

.article-images > figure > img {
    display: block;
    width: 100%;
    max-width: 400px;

    height: auto;

    box-shadow: -2px 2px 14px -4px rgba(0, 0, 0, 0.3);
}

time {
    font-size: 0.8rem;
    color: rgb(160, 160, 160);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .articles {
        padding: 24px 0;
        width: 70%;
    }
}

@media (max-width: 768px) {
    article {
        padding: 0 16px;
    }
}

/* Large */
@media (min-width: 992px) {
    .articles {
        padding: 24px 0;
        width: 55%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .articles {
        padding: 24px 0;
        width: 50%;
    }
}
