article {
    margin-bottom: 32px;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "article-title"
                         "article-subtitle"
                         "article-text";
}

article:nth-child(even) {
}

article:last-child {
    margin-bottom: 0;
}

.article-title {
    grid-area: article-title;
    font-size: 1.2em;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-title-text {
    margin-bottom: auto;
    line-height: 1.0em;
}

.article-title-box {
    margin-left: auto;
    margin-bottom: auto;
    width: 0.9em;
    height: 0.9em;

    /*background-color: red;*/
}

.article-text {
    grid-area: article-text;
    margin-top: 4px;

    font-size: 1.0em;
    line-height: 1.2em;
    letter-spacing: 0.001em;
}

.article-subtitle {
    grid-area: article-subtitle;
    display: flex;
    flex-direction: row;

    font-style: italic;
    font-size: 0.9em;

    margin-top: 2px;
}

.article-date::after {
    content: ",";
}

.article-author::before {
    content: " ";
}

@media (max-device-width: 640px) {
    .article-title {
        font-size: 72px;
    }

    .article-subtitle {
        font-size: 40px;
        color: darkgray;
    }

    .article-text {
        font-size: 48px;
        margin-top: 24px;
    }
}
