article {
}

.article-title {
    font-size: 6vw;
    font-weight: 600;
}

.article-text {
    margin-top: 8px;

    font-size: 4vw;
}

.article-subtitle {
    display: flex;
    flex-direction: row;

    font-style: italic;
    font-size: 3.5vw;

    margin-top: 4px;
}

.article-date::after {
    content: ",";
}

.article-author::before {
    content: " ";
}

@media (max-width: 320px) or (max-width: 568px) {
    .article-title {
        font-size: 24px;
    }

    .article-subtitle {
        font-size: 16px;
        color: darkgray;
    }

    .article-text {
        font-size: 18px;
    }
}
