body {
    font-family: sans-serif;
    min-height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
}

.grid-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(400px, 600px) minmax(100px, auto);
    grid-template-rows: 80px minmax(800px, auto) 80px;

    grid-template-areas: "side-left head side-right"
                         "side-left content side-right"
                         "side-left foot side-right";
}

.head {
    grid-area: head;
    margin: auto;
}

.side-left {
    grid-area: side-left;
}

.side-right {
    grid-area: side-right;
}

.content {
    grid-area: content;
}

.foot {
    grid-area: foot;
}
