html, body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
}

body {
    overflow: hidden;
    background-color: blueviolet;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  color: blueviolet;
}

a {
  text-decoration: none;
  color: blueviolet;
  font-weight: 600;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  margin: 16px;
}

ul > li {
  margin-bottom: 4px;
}

li > div {
  display: inline;
}

.grid {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 64px 4px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "topnav"
                       "color-line"
                       "content";

  background-color: white;
}

.topnav {
  width: 100%;
  grid-area: topnav;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: blueviolet;
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
}

.topnav-entries {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.topnav-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  padding-right: 16px;

  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.topnav-entry:first-child {
  padding-left: 8px;
}

.topnav-entry:last-child {
}

.topnav-entry:hover {
  text-decoration: underline;
}

.topnav-entry:active {
  text-decoration: underline;
}

.topnav-logo {
  background-repeat: no-repeat;
  background-position: center center;

  width: 24px;
  height: 24px;

  margin-right: 4px;
}

.home-icon {
  background-image: url("assets/icons/home-solid.svg");
}

.cursor-icon {
  background-image: url("assets/icons/i-cursor-solid.svg");
  width: 20px;
  height: 21px;
  margin-right: 0;
  padding-top: 1px;
}

.content {
  grid-area: content;

  padding-top: 24px;
  padding-bottom: 24px;

  overflow-y: auto;
}

.articles {
  margin: 0 auto 24px;
}

.article {
  margin-top: 32px;
  padding: 0 16px;
}

.article:first-child {
  margin-top: 0;
}

.article-content {
  margin-top: 16px;
}

.article-images {
  display: flex;
  flex-direction: column;

  padding: 48px;
}

.article-images > figure {
  margin: 0 auto;
  margin-bottom: 48px;
}

.article-images > figure:last-child {
  margin-bottom: 0;
}

.article-images > figure > figcaption {
  margin-top: 16px;
  text-align: center;
  color: rgb(134, 134, 134);
}

.article-images > figure > img {
  display: block;
  width: 100%;
  max-width: 400px;

  height: auto;

  box-shadow: -2px 2px 14px -4px rgba(0, 0, 0, 0.3);
}


.date {
  font-size: 0.8rem;
  color: rgb(160, 160, 160);
}

@media (max-width: 576px) {
  .topnav-text {
    display: none;
  }

  .topnav-entries { 
    padding-left: 16px;
  }
}

@media (max-width: 768px) {
  ul {
    margin-left: 0;
  }

  ul > li {
    margin-bottom: 8px;
  }

  .topnav-entries {
    padding-left: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .articles {
     padding: 24px 0;
     width: 70%;
   }

   .topnav-entries {
     padding: 0 15%;
   }
}

/* Large */
@media (min-width: 992px) {
   .articles {
     padding: 24px 0;
     width: 60%;
   }

   .topnav-entries {
     padding: 0 20%;
   }
   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .articles {
     padding: 24px 0;
     width: 50%;
   }

   .topnav-entries {
     padding: 0 25%;
   }
   
}
