html, body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  color: blueviolet;
}

a {
  text-decoration: none;
  color: blueviolet;
  font-weight: 600;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  margin: 16px;
}

ul > li {
  margin-bottom: 4px;
}

li > div {
  display: inline;
}

.grid {
}

.topnav {
  height: 64px;
  width: 100%;
  top: 0;
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  background-color: blueviolet;
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
}

.topnav-entries {
  display: flex;
  flex-direction: row;
}

.topnav-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  padding-right: 16px;

  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.topnav-entry:first-child {
  padding-left: 8px;
}

.topnav-entry:last-child {
}

.topnav-entry:hover {
  text-decoration: underline;
}

.topnav-entry:active {
  text-decoration: underline;
}

.topnav-logo {
  background-repeat: no-repeat;
  background-position: center center;

  width: 24px;
  height: 24px;

  margin-right: 4px;
}

.home-icon {
  background-image: url("assets/icons/home-solid.svg");
}

.cursor-icon {
  background-image: url("assets/icons/i-cursor-solid.svg");
  width: 20px;
  height: 21px;
  margin-right: 0;
  padding-top: 1px;
}

.content {
  margin: 88px auto 24px;
}

.article {
  margin-top: 32px;
  padding: 0 16px;
}

.article:first-child {
  margin-top: 0;
}

.article-content {
  margin-top: 16px;
}

.date {
  font-size: 0.8rem;
  color: rgb(160, 160, 160);
}

@media (max-width: 576px) {
  .topnav-text {
    display: none;
  }

  .topnav-entries { 
    padding-left: 16px;
  }
}

@media (max-width: 768px) {
  ul {
    margin-left: 0;
  }

  ul > li {
    margin-bottom: 8px;
  }

  .topnav-entries {
    padding-left: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .content {
     padding: 0;
     width: 70%;
   }
   
   .topnav-entries {
     padding: 0 calc(15% - 64px);
   }
   
}

/* Large */
@media (min-width: 992px) {
   .content {
     padding: 0;
     width: 60%;
   }

   
   .topnav-entries {
     padding: 0 calc(20% - 64px);
   }
   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .content {
     padding: 0;
     width: 50%;
   }

   
   .topnav-entries {
     padding: 0 calc(25% - 64px);
   }
   
}
