.site-logo {
  width: 64px;
  height: 64px;

  display: grid;
  grid-template-rows: 8;
  grid-template-columns: 8;
}

.r1 {
  grid-row: 1;
}

.r2 {
  grid-row: 2;
}

.r3 {
  grid-row: 3;
}

.r4 {
  grid-row: 4;
}

.r5 {
  grid-row: 5;
}

.r6 {
  grid-row: 6;
}

.r7 {
  grid-row: 7;
}

.r8 {
  grid-row: 8;
}

.c1 {
  grid-column: 1;
}

.c2 {
  grid-column: 2;
}

.c3 {
  grid-column: 3;
}

.c4 {
  grid-column: 4;
}

.c5 {
  grid-column: 5;
}

.c6 {
  grid-column: 6;
}

.c7 {
  grid-column: 7;
}

.c8 {
  grid-column: 8;
}

/* R1 */
.r1.c1 {
  background-color: hsl(255, 76%, 53%);
}

.r1.c2 {
  background-color: hsl(270, 76%, 53%);
}

.r1.c3 {
  background-color: hsl(285, 76%, 53%);
}

.r1.c4 {
  background-color: hsl(300, 76%, 53%);
}

.r1.c5 {
  background-color: hsl(315, 76%, 53%);
}

.r1.c6 {
  background-color: hsl(330, 76%, 53%);
}

.r1.c7 {
  background-color: hsl(345, 76%, 53%);
}

.r1.c8 {
  background-color: hsl(360, 76%, 53%);
}


/* R2 */
.r2.c1 {
  background-color: hsl(240, 76%, 53%);
}

.r2.c2 {
  background-color: cyan;
}

.r2.c3 {
  background-color: darkblue;
}

.r2.c4 {
  background-color: darkcyan;
}

.r2.c5 {
  background-color: darkgoldenrod;
}

.r2.c6 {
  background-color: darkgray;
}

.r2.c7 {
  background-color: darkgreen;
}

.r2.c8 {
  background-color: hsl(15, 76%, 53%);
}

/* R3 */
.r3.c1 {
  background-color: hsl(225, 76%, 53%);
}

.r3.c2 {
  background-color: darkolivegreen;
}

.r3.c3 {
  background-color: darkorange;
}

.r3.c4 {
  background-color: darkorchid;
}

.r3.c5 {
  background-color: darkred;
}

.r3.c6 {
  background-color: darksalmon;
}

.r3.c7 {
  background-color: darkseagreen;
}

.r3.c8 {
  background-color: hsl(30, 76%, 53%);
}

/* R4 */
.r4.c1 {
  background-color: hsl(210, 76%, 53%);
}

.r4.c2 {
  background-color: darkturquoise;
}

.r4.c3 {
  background-color: darkviolet;
}

.r4.c4 {
  background-color: deeppink;
}

.r4.c5 {
  background-color: deepskyblue;
}

.r4.c6 {
  background-color: dimgray;
}

.r4.c7 {
  background-color: dodgerblue;
}

.r4.c8 {
  background-color: hsl(45, 76%, 53%);
}

/* R5 */
.r5.c1 {
  background-color: hsl(195, 76%, 53%);
}

.r5.c2 {
  background-color: forestgreen;
}

.r5.c3 {
  background-color: fuchsia;
}

.r5.c4 {
  background-color: gainsboro;
}

.r5.c5 {
  background-color: ghostwhite;
}

.r5.c6 {
  background-color: gold;
}

.r5.c7 {
  background-color: goldenrod;
}

.r5.c8 {
  background-color: hsl(60, 76%, 53%);
}

/* R6 */
.r6.c1 {
  background-color: hsl(180, 76%, 53%);
}

.r6.c2 {
  background-color: greenyellow;
}

.r6.c3 {
  background-color: grey;
}

.r6.c4 {
  background-color: honeydew;
}

.r6.c5 {
  background-color: hotpink;
}

.r6.c6 {
  background-color: indianred;
}

.r6.c7 {
  background-color: indigo;
}

.r6.c8 {
  background-color: hsl(75, 76%, 53%);
}

/* R7 */
.r7.c1 {
  background-color: hsl(165, 76%, 53%);
}

.r7.c2 {
  background-color: lavender;
}

.r7.c3 {
  background-color: lavenderblush;
}

.r7.c4 {
  background-color: lawngreen;
}

.r7.c5 {
  background-color: lemonchiffon;
}

.r7.c6 {
  background-color: lightblue;
}

.r7.c7 {
  background-color: lightcoral;
}

.r7.c8 {
  background-color: hsl(90, 76%, 53%);
}

/* R8 */
.r8.c1 {
  background-color: hsl(150, 76%, 53%);
}

.r8.c2 {
  background-color: hsl(150, 76%, 53%);
}

.r8.c3 {
  background-color: hsl(150, 76%, 53%);
}

.r8.c4 {
  background-color: hsl(150, 76%, 53%);
}

.r8.c5 {
  background-color: hsl(150, 76%, 53%);
}

.r8.c6 {
  background-color: hsl(150, 76%, 53%);
}

.r8.c7 {
  background-color: hsl(150, 76%, 53%);
}

.r8.c8 {
  background-color: hsl(150, 76%, 53%);
}